<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DiffLib" version="2017.7.26.1241" targetFramework="net471" />
  <package id="JetBrains.Annotations" version="11.1.0" targetFramework="net471" />
  <package id="MSTest.TestAdapter" version="1.2.0" targetFramework="net471" />
  <package id="MSTest.TestFramework" version="1.2.0" targetFramework="net471" />
</packages>