<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Zilf" Description="Code analysis rules for Zilf.csproj." ToolsVersion="14.0">
  <IncludeAll Action="Warning" />
  <Rules AnalyzerId="RefactoringEssentials" RuleNamespace="RefactoringEssentials">
    <Rule Id="CS0126ReturnMustBeFollowedByAnyExpression" Action="Warning" />
    <Rule Id="CS1729TypeHasNoConstructorWithNArgumentsAnalyzer" Action="Warning" />
    <Rule Id="ProhibitedModifiersAnalyzer" Action="Warning" />
    <Rule Id="RECS0002" Action="Warning" />
    <Rule Id="RECS0004" Action="Warning" />
    <Rule Id="RECS0005" Action="Warning" />
    <Rule Id="RECS0010" Action="Warning" />
    <Rule Id="RECS0012" Action="Warning" />
    <Rule Id="RECS0013" Action="Warning" />
    <Rule Id="RECS0014" Action="Warning" />
    <Rule Id="RECS0015" Action="Warning" />
    <Rule Id="RECS0032" Action="Warning" />
    <Rule Id="RECS0033" Action="Warning" />
    <Rule Id="RECS0036" Action="Warning" />
    <Rule Id="RECS0037" Action="Warning" />
    <Rule Id="RECS0038" Action="Warning" />
    <Rule Id="RECS0040" Action="Warning" />
    <Rule Id="RECS0041" Action="Warning" />
    <Rule Id="RECS0042" Action="Warning" />
    <Rule Id="RECS0043" Action="Warning" />
    <Rule Id="RECS0044" Action="Warning" />
    <Rule Id="RECS0045" Action="Warning" />
    <Rule Id="RECS0046" Action="Warning" />
    <Rule Id="RECS0047" Action="Warning" />
    <Rule Id="RECS0048" Action="Warning" />
    <Rule Id="RECS0049" Action="Warning" />
    <Rule Id="RECS0050" Action="Warning" />
    <Rule Id="RECS0051" Action="Warning" />
    <Rule Id="RECS0052" Action="Warning" />
    <Rule Id="RECS0053" Action="Warning" />
    <Rule Id="RECS0054" Action="Warning" />
    <Rule Id="RECS0055" Action="Warning" />
    <Rule Id="RECS0056" Action="Warning" />
    <Rule Id="RECS0057" Action="Warning" />
    <Rule Id="RECS0058" Action="Warning" />
    <Rule Id="RECS0059" Action="Warning" />
    <Rule Id="RECS0069" Action="Warning" />
    <Rule Id="RECS0070" Action="Warning" />
    <Rule Id="RECS0071" Action="Warning" />
    <Rule Id="RECS0072" Action="Warning" />
    <Rule Id="RECS0073" Action="Warning" />
    <Rule Id="RECS0074" Action="Warning" />
    <Rule Id="RECS0075" Action="Warning" />
    <Rule Id="RECS0076" Action="Warning" />
    <Rule Id="RECS0077" Action="Warning" />
    <Rule Id="RECS0078" Action="Warning" />
    <Rule Id="RECS0079" Action="Warning" />
    <Rule Id="RECS0083" Action="Warning" />
    <Rule Id="RECS0086" Action="Warning" />
    <Rule Id="RECS0087" Action="Warning" />
    <Rule Id="RECS0091" Action="Warning" />
    <Rule Id="RECS0092" Action="Warning" />
    <Rule Id="RECS0093" Action="Warning" />
    <Rule Id="RECS0094" Action="Warning" />
    <Rule Id="RECS0100" Action="Warning" />
    <Rule Id="RECS0101" Action="Warning" />
    <Rule Id="RECS0102" Action="Warning" />
    <Rule Id="RECS0103" Action="Warning" />
    <Rule Id="RECS0104" Action="Warning" />
    <Rule Id="RECS0106" Action="Warning" />
    <Rule Id="RECS0109" Action="Warning" />
    <Rule Id="RECS0113" Action="Warning" />
    <Rule Id="RECS0114" Action="Warning" />
    <Rule Id="RECS0116" Action="Warning" />
    <Rule Id="RECS0118" Action="Warning" />
    <Rule Id="RECS0120" Action="Warning" />
    <Rule Id="RECS0121" Action="Warning" />
    <Rule Id="RECS0122" Action="Warning" />
    <Rule Id="RECS0123" Action="Warning" />
    <Rule Id="RECS0126" Action="Warning" />
    <Rule Id="RECS0127" Action="Warning" />
    <Rule Id="RECS0128" Action="Warning" />
    <Rule Id="RECS0129" Action="Warning" />
    <Rule Id="RECS0131" Action="Warning" />
    <Rule Id="RECS0132" Action="Warning" />
    <Rule Id="RECS0134" Action="Warning" />
    <Rule Id="RECS0138" Action="Warning" />
    <Rule Id="RECS0140" Action="Warning" />
    <Rule Id="RECS0141" Action="Warning" />
    <Rule Id="RECS0142" Action="Warning" />
    <Rule Id="RECS0144" Action="Warning" />
    <Rule Id="RECS0145" Action="Warning" />
    <Rule Id="RECS0147" Action="Warning" />
    <Rule Id="RECS0148" Action="Warning" />
    <Rule Id="RECS0152" Action="Warning" />
    <Rule Id="RECS0153" Action="Warning" />
    <Rule Id="RECS0158" Action="Warning" />
    <Rule Id="RECS0159" Action="Warning" />
    <Rule Id="RECS0164" Action="Warning" />
    <Rule Id="IDE1003" Action="None" />
  </Rules>
</RuleSet>