[*.cs]

# RNUL: Parameter is missing nullability annotation.
dotnet_diagnostic.RNUL.severity = silent

# RINUL: Parameter is missing item nullability annotation.
dotnet_diagnostic.RINUL.severity = silent
